
.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.submitButton {
  position: relative;
  justify-self: center;
  margin: 20px 0px 20px 550px;
}

.header {
  padding-right: 10px;
  padding-bottom: 50px;
}
